* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.top {
    background-color:#1F2937 ;
    margin:0;
    padding: 0px 30px 30px 30px
}
.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flowers {
    width: 40px;
    height: auto;
}
.links {

   display: flex;
   justify-content: space-around;
   padding: 10px;
   margin: 0%;
   gap: 20px;
   color: white;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

h1 {
    margin: 0;
    font-weight: 900;
    font-size: 48px;
}
.words{
    color: white;
}
.secondary-text {
    font-size: 18px;
}
.sign{
    color: white;
    background-color:#3B82F6;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
    border: none;
    padding: 5px 10px;
}
.image {
    align-items: center;
    
}
.pexel {
    align-items: center;
    width: 300px;
    height: 150px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
}
.rose {
    font-size: 8px;
    width: 70px;
    text-align: center;
    color: #CBCED3;
}

.pixabay {
    width: 70px;
    border-radius: 10px;
    margin: 5px;
}

.pic {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.third {
    background-color:#E5E7EB;
    padding: 60px;
}
.quote {
    text-align: center;
    font-style: italic;
}
.person {
    text-align:right;
    font-style: italic;
    
}
.motivation {
    font-size: 10px;
    margin: 0 auto;
    max-width: 500px;
}
.fourth {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.action {
    background-color: #3B82F6;
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    border-radius: 10px;
}

.action-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign_up {
    background-color:#3B82F6;
    color: white;
    border: 1px white solid;
    padding: 10px 20px;
    border-radius: 5px;
}
footer {
    text-align: center;
    background-color: #1F2937;
    color: white;
    padding: 10px;
}